body{
    width: 1000px;
    margin:0 auto;
    background-color: #E9EAED;
}

ul{margin: 0}


#header{
    margin: 4px 4px 0;
    padding: 10px;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 1px solid #e5e6e9;
    border-left: 1px solid #dfe0e4;
    border-right: 1px solid #dfe0e4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#header>h1{
    margin:0px;
}
#header>h1::after{
    content: "";
    width: 90px;
    display: inline-block;
}
#nav{
    margin: 0 4px 4px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #dfe0e4 #dfe0e4 #d0d1d5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#nav ul{
    margin: 0;
    padding: 10px;
    list-style: none;
}
#nav li{
    margin: 0;
    display: inline;
    border-left: 1px solid #d0d1d5;
}

#nav a{
    padding: 5px 20px;
    text-decoration: none;
    color: #000000;
    border-radius: 3px;
}
#nav a:hover{
    background-color: #EEEEEE;
}


#aside1{
    width: 200px;
    padding: 4px;
    float: left;
}

aside>div{
    margin:0 0 8px;
    padding: 10px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background-color: #FFFFFF;
}
.has-title{
    padding:0px;
}
.has-title>div{
    padding:10px;
}
.has-title>div:first-child{
    padding: 5px;
    border-bottom: 1px solid #dfe0e4;
    text-align: center;
    font-weight: bold;
}
#useful-links ul{
    margin-left: 0; padding-left: 1em;
    list-style-type: none;
}
#schedule ul{
    margin-left: 0; padding-left: 1.5em;
}
#user-login{
    text-align: center;
}

#section{
    padding: 4px;
    width: 800px;
    float: left;
}
section>div{
    margin:0 0 8px;
    padding: 20px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background-color: #FFFFFF;
}
#footer{
    padding:20px;
    clear: both;
}
.input-group{
    margin-bottom: 4px;
}
h4.ribbon {
    width: 200px;
    text-align: center;
    position: relative;
    color: #FFF;
    margin: 0 auto 15px -31px;
    line-height: 40px;
    text-shadow: 0 1px rgba(0,0,0,.8);
    background-color: #216886;
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

h4.ribbon:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent #216886;
    right: -20px;
}
.sub-content {
    margin-top: 30px;
    border-radius: 0 0 4px 4px;
    padding: 15px 30px 15px;
    border: 1px solid #ddd;
    position: relative;
    background: #fcfcfc;
    word-wrap: break-word;
}
.sub-content .up-arrow:after, .sub-content .up-arrow:before {
    border-color: transparent transparent #FCFCFC;
    border-style: solid;
    border-width: 15px;
    content: "";
    height: 0;
    left: 40px;
    position: absolute;
    top: -30px;
    width: 0
}
.sub-content .up-arrow:before {
    top: -31px;
    border-color: transparent transparent #DDD
}

/* 上傳檔案按鈕 */
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.js .inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.no-js .inputfile + label {
    display: none;
}

p.text-indent-2 {text-indent: -2em ;padding-left: 2em; }
.text-center th {text-align: center;}